h1 {
    text-align: center;
}

button {
    /* position: absolute; */
    /* padding: 9px 29px 18px 29px; */
    color: black;
    background-color: darkgray;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 7px;
    width: 8.7%;
    height: 150px;
    border: 1px solid black;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-top: 15px;
}

button:hover {
    color: white;
}

button:focus {
    background-color: darkgray;
    border: 1px solid black;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

button:active {
    border: 2px solid black;
    background-color: rgb(107, 107, 107);
}

.remote {
    margin-left: 2.8%;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}