<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Checker</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' type='text/css'>
</head>

<body>
    <h1>Choose what do you want to check</h1>
    <div class="flex-parent jc-center">
        <button class="bo" (click)="navigateToBoPage()">BO API Request</button>
        <button class="remote" (click)="navigateToRPage()">Request Sent From Remote Server</button>
    </div>

</body>